{{#partial "title"}}
    Edit team information
{{/partial}}

{{#partial "content"}}
    <h3>Enter new details</h3>
    <form action="/teams/{{currentTeam.id}}/edit" method="post">
        <div class="form-group">
            <p>Enter new team name:</p>
            <label for="teamName"></label>
            <input id="teamName" name="teamName" type="text">
        </div>
        <div class="form-group">
            <p>Enter new team description:</p>
            <label for="teamDescription"></label>
            <input id="teamDescription" name="teamDescription" type="text">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
{{/partial}}

{{> layout.hbs}}