{{#partial "title"}}
    Welcome to Hackaton page!
{{/partial}}

{{#partial "content"}}
    <h3>Enter your team details</h3>
    <form action="/add_new_team" method="post">
        <div class="form-group">
            <p>Enter team name:</p>
            <label for="teamName"></label>
            <input id="teamName" name="teamName" type="text">
        </div>
        <div class="form-group">
            <p>Enter team description:</p>
            <label for="teamDescription"></label>
            <input id="teamDescription" name="teamDescription" type="text">
        </div>
        <div class="form-group">
            <p>Enter the number of members:</p>
            <label for="numberOfMembers"></label>
            <input id="numberOfMembers" name="numberOfMembers" type="number">
        </div>
        <button type="submit" class="btn-info">Next</button>
    </form>
{{/partial}}

{{> layout.hbs}}