{{#partial "content"}}

    <div class="jumbotron">Hackaton Page</div>

    {{#if allTeams}}
        <h2>Here is the list of registered teams:</h2>
        {{#each allTeams}}
            <p>Team name: {{teamName}}</p>
            <p>Team description: {{description}}</p>
            <a href="/teams/{{id}}">See team information</a>
            <hr>
        {{/each}}
    {{else}}
        <p>No team registered yet!</p>
    {{/if}}

{{/partial}}

{{> layout.hbs}}