{{#partial "content"}}

    <div class="jumbotron">Hackaton Page</div>

    {{#if teams}}
        <h3>Here is the list of registered teams:</h3>
        {{#each teams}}
            <p class="newTeamMember">Team name: {{teamName}}</p>
            <p class="newTeamMember">Team description: {{description}}</p>
            <a href="/teams/{{id}}">See team information</a>
            <hr>
        {{/each}}
    {{else}}
        <p>No teams registered yet!</p>
    {{/if}}

{{/partial}}

{{> layout.hbs}}